<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">

<head>
<meta http-equiv="content-type" content="text/html;charset=Shift_JIS" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="imagetoolbar" content="no" />

<title>CalmTech | カームテック</title>

<meta content="CalmTch" name="Author" />
<meta content="" name="description" />
<meta content="" name="keywords" />

<link rel="stylesheet" href="stylesheets/default.css" type="text/css" />

<link rel="start" href="http://www.calmtech.net/" title="CalmTech" />
<link rel="contents" href="index.html" title="目次" />
<link rev="made" href="mailto:info@calmtech.net" />

</head>

<body>
<%= content_for_layout %>
</body>

</html> 
